<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="auth">
  <div class="auth-window">
    <div class="title-bar">{{ title }}</div>
    <div class="window-body">
      <form method="post">
        <input type="text" name="username" placeholder="Имя" class="auth-input" required>
        <input type="password" name="password" placeholder="Пароль" class="auth-input" required>
        <button type="submit" class="form-button">{{ button_text }}</button>
        {% if mode == "login" %}
          <a href="/register" class="link">Регистрация</a>
        {% else %}
          <a href="/login" class="link">Уже есть аккаунт?</a>
        {% endif %}
      </form>
    </div>
  </div>
</body>
</html>
